---
  import BaseLayout from './BaseLayout.astro';
  const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>

  {frontmatter.image && (<div class="image-container"><img src={frontmatter.image.url} width="300"
      alt={frontmatter.image.alt} /></div>)}

  <slot />

  <div class="tags">
    <span>Tags:</span>
    {frontmatter.tags.map((tag) => (
    <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
</BaseLayout>
<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
  }

  a {
    width: 100%;
    height: 100%;
    margin: 0.25em;
    border-radius: 32px;
    padding: .5em 1em;
    font-size: 1em;
    color: #04005e;
    text-decoration: none;
    background-color: #A05FE0;
  }

  a:hover,
  a:focus {
    background-color: #9fecc6;
  }

  span {
    font-size: 1.15em;
  }
</style>